/* Misc
================================================*/

#old_browser {
	font-size: 14px;
	text-align: center;
	padding: 6px;
	background: #f5f5b5;
	color: #303030;
	border: none;
	border-bottom: 1px solid #deca7e;

	a {
		color: #e50b00;
	}
}