// Variables
// --------------------------------------------------

//$body-min-width: 980px;
//$body-max-width: 1500px;
$body-align-center: false;

$base-font-size: 12px;

$font-relative-size: false;

$body-backgroung-color: #f4f2ee;

$basic-font-family: Verdana, Geneva, Tahoma, sans-serif;

$myriad-pro-font: "Myriad Pro", pt_sans_regular, sans-serif;

$bebas-neue-font: bebas_neue_regular, sans-serif;

$link-color: #dc6565;

$hr-color: #dfdedc;

$hr-border: 4px solid $hr-color;

$font-color: #8c8c8c;

$header-color: #d14343;

$section-h2-margin-bottom: 20px;