#about_me {
	float: left;
	width: 470px;

	img {
		float: left;
		margin: 0 20px 0 10px;
		background: #fff;
		outline: 1px solid #cfcfcf;
	}

	.text {
		margin: -2px 0 0 130px;
		font-size: 11.5px;
		line-height: 17px;
		letter-spacing: -.1px;
	}
}