#contact {
	padding: 46px 0 0 0;

	@include block-clearfix;

	form {
		float: left;
		width: 460px;
		padding-left: 10px;

		h3 {
			padding: 0 0 2px 0;
		}

		input[type='submit'] {
			width: 98px;
		}
	}

	.contact_info {
		margin-left: 490px;

		h3 {
			margin-bottom: 16px;
		}

		.map {
			float: left;
			width: 240px;
			height: 200px;
			background: #fff;
			outline: 1px solid #c0c0c0;
		}

		dl {
			padding-left: 38px;

			@include block-clearfix;

			dt {
				font-weight: bold;
			}

			dd {
				padding: 5px 4px 12px 4px;
				font-size: 11px;
				line-height: 17px;
			}
		}
	}
}