/* Links
================================================*/

a {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
	background: none;
}

a img {
	border: none;
}

a:after {
	content: " ( " attr(href) " ) ";
	font-size: 90%;
}